p {
    color: #000000;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
a:hover {
    text-decoration: none;
}
/* These are the styles for the quote and normal text. */
.quote {
    color: #000000;
    background-color: #FFFFFF;
    font-family: "Dai Banna SIL";
    font-size: 6rem;
    font-weight: 400;
    line-height: normal;
    padding: 24px;
    margin: 45px;
    border: 10px solid #0F1264;
}
.normaltext {
    background-color: #D9D9D9;
    color: #000;
    font-family: "Dai Banna SIL";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.normaltext:hover {
    background-color: #0F1264;
    color: #fff;
}   
.copyright {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: end;
    flex-grow: end;
}
/* These are the styles for the images. */
.lower-image {
    width: 600px;
    height: 400px;
    object-fit: center;
    padding: 24px;
    margin: 45px;
    border: 30px solid #0F1264;
    background: url(./assets/image2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.hero-image {
    width: 120rem;
    height: 49.3125rem;
    padding: 24px;
    margin: 45px;
    border: 30px solid #0F1264;
    background: url(./assets/image1.jpg); 
    background-repeat: no-repeat;
}
.project {
    background-color: #D9D9D9;
    color: #000000;
    border: 20px solid #0F1264;
    border-radius: 1.25rem;
    padding: 0px;
    margin: 0px;
    font-family: "Dai Banna SIL";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.img {
    max-width: 100%;
    height: auto;
}
/* These are the styles for the logo and social media icons. */
.logo {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: left;
}
.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2.63rem;
}
.instagram_icon {
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2.63rem;
}
.figma_icon {
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2.63rem;
}
.linkedin_icon {
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2.63rem;
}
/* These are the styles for the headings. */
.h1 {
    color: #000000;
    font-family: "Dai Banna SIL";
    font-size: 4rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.h2 {
    color: #000000;
    font-family: "Dai Banna SIL";
    font-size: 3rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.h3 {
    color: #000000;
    font-family: "Dai Banna SIL";
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
}
/* These are the styles for the header and footer. */
.header {
    color: #000000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2.63rem;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}
.child{
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}
@media screen and (max-width: 320px){
    .container {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }}
.contact {
    color: #000000;
    font-family: "Open Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 1.25rem;
    background: #FFF;
}
.footer {
    color: #000;    
    text-align: center;
    font-family: "Open Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2.63rem;
}